.audited-by-section {
    display: flex;
    margin-bottom: 32px;
    @include medium {
        // margin-bottom: 150px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 89px;
        padding-right: 16px;
        border-right: 1px solid $light-gray-eb;
        height: 50px;
        gap: 7px;

        img {
            width: 50px;
            height: 50px;
        }
        // margin-right: 16px;
        &:last-of-type {
            border-right: 0;
        }
        &-text {
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            color: $text-gray-a2;
            margin: 0;
        }
    }
}
