.news-main-wrapper {
  gap: 80px;
  max-width: 2400px;
  overflow-x: hidden;
  background-image: url("../../assets/newsAssets/newsBackground.webp");
  background-size: cover;

  .newsevent-header {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 43px;

    color: #ffffff;
  }

  .nft-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    place-items: center;
    @media only screen and (max-width: 1330px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 1160px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .stepsTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
  }

  .stepscontainer {
    border-radius: 12px;
    padding: 20px;
    border: 2px solid #99f1ff;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5.5px);
  }

  .timelinedot {
    background: #26264f !important;
    border: 2px solid #565891 !important;
    width: 24px;
    height: 24px;
    margin: 6px 0px !important;
  }

  .timeline-line {
    background-color: #565891 !important;
    height: 20px;
  }

  .MuiTimelineItem-root {
    min-height: 40px !important;
  }

  .MuiTimeline-root {
    margin-bottom: 0 !important;
  }

  .content-title2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.018em;
    color: #f7f7fc;
  }

  .discountwrapper {
    position: relative;
    top: 80px;

    @media only screen and (max-width: 991px) {
      top: auto;
    }
  }

  .eventnews-card {
    background: #181636;
    border-radius: 8px;
    min-height: 350px;
    // height: 100%;
    justify-content: space-between;
    border: 2px solid #181636;
    max-width: 350px;
    width: 100%;
    // @media screen and (max-width: 1500px) {
    //   min-height: 500px;
    // }
    .nft-image {
      height: auto;
      width: 100%;
      --mask: linear-gradient(-135deg, #0000 20px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      object-fit: cover;
    }

    .announcement-tag {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #080b2a;
      --mask: linear-gradient(-135deg, #0000 7px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      background: #dafa85;
      padding: 5px 16px;
      width: fit-content;
    }

    .new-release-tag {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #080b2a;
      --mask: linear-gradient(-135deg, #0000 7px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      background: #fa858c;
      padding: 5px 16px;
      width: fit-content;
    }

    .update-title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      width: 65%;

      @media screen and (max-width: 786px) {
        width: 100%;
      }
    }

    .news-date {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.018em;
      color: #f7f7f7;
      white-space: pre;
    }

    .news-content {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #ffffff;
      margin: 0;

      p {
        color: #ffffff !important;
        // margin-bottom: 0;
      }
      span {
        color: #ffffff !important;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .read-more {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #7cd8af;
    }
  }

  .news-card-active {
    border: 2px solid #d9fa86;
  }

  .newsletter-wrapper {
    position: relative;
    background-image: url("../../assets/newsAssets/newsLetterBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    z-index: 1;

    .newsletter-title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: #181636;
    }

    .newsletter-content {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-transform: capitalize;
      color: #181636;
      width: 75%;
    }

    .newsletter-span {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      text-transform: capitalize;
      color: #181636;
      width: 60%;
    }

    .newsletter-input-container {
      width: 35%;
    }
  }

  .newsletter-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: linear-gradient(94.83deg, #6cd0e6 0%, #ce85fb 100%);
    border-radius: 8px;
    z-index: -1;
  }
}

.success-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  // bottom: 0;
  margin: auto;
  background: linear-gradient(126.67deg, #181636 35.2%, #7133e5 191.04%);
  border-radius: 8px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  width: fit-content;
  height: fit-content;
  z-index: 6;

  .newsletter-modal-title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.018em;
    color: #f7f7fc;
  }

  .newsletter-modal-span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.018em;
    color: #c0cbf7;
    width: 75%;
  }
}

@media screen and (max-width: 786px) {
  .nft-grid {
    grid-template-columns: auto !important;
  }

  .newsletter-content {
    width: 100% !important;
  }
  .newsletter-span {
    width: 100% !important;
  }

  .newsletter-input-container {
    width: 100% !important;
  }
}

.soldout {
  background: #191819 !important;
  user-select: none;
  pointer-events: none;
}

.ethlogo {
  width: 16px;
  height: 16px;
}

.pricetxt {
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
}

.genesis-benefits-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 43px;
  color: #ffffff;
}

.genesis-benefits-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  .genesis-benefits-wrapper {
    background: rgba(255, 255, 255, 0.04);
    border: 2px solid #8c56ff;
    backdrop-filter: blur(5.5px);
    border-radius: 12px;
    height: 325px;
    .benefit-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }

    .benefit-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.countdown-sup {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}

.countdown-sub {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.timerwrapper {
  background: url("../../assets/timerbg.svg");
  border-radius: 12px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;

  @media screen and (max-width: 991px) {
    width: 100%;
  }

}

.eventform-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.create-land-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.limitedbadge {
  position: absolute;
  top: -10px;
}

.flagWrapper {
  background: #171636;
  border-radius: 6px;
  padding: 10px;
  width: fit-content;
}

.selectlang {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.flag {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid #171636;
}

.flag-active,
.flag:hover {
  border: 2px solid #09fbd3;
  border-radius: 2px;
}

.Mui-disabled {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
}

.count-number {
  width: 40px;
  height: 40px;
  background: #7bd8af;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -15px;
}

.nft-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #080b2a;
  margin-bottom: 0 !important;
}
