.home-main-wrapper {
  gap: 80px;
  max-width: 2400px;
  // background-image: url("../../assets/siteBackground.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
}

.opacitywrapper {
  border: 1px solid #00fecf;
  background: linear-gradient(
    155.14deg,
    rgba(0, 0, 0, 0.4) -2.13%,
    rgba(0, 0, 0, 0.4) 136.58%
  );
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
