.elevated-container{
    .single-asset-wrapper {
        padding-bottom: 16px;
        border-bottom: 1px solid $light-gray-f5;
        margin-top: 16px;
        &:last-of-type {
            border: none;
            padding-bottom: 0px;
        }
        &:first-of-type {
            margin-top: 0;
        }
        .single-asset {
            display: flex;
            // to be checked because of the root colors
            // background-color: lighten($light-gray-c4, 16%);
            border-radius: 500px;
            padding: 8px 0px;
            &-icon {
                margin-right: 16px;
                width: 48px;
                height: 48px;
            }
    
            .single-asset-body {
                p {
                    margin: 0;
                    &:first-of-type {
                        color: $title-dark;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 4px;
                    }
                    &:last-of-type {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: $accent-green;
                    }
                }
            }
            .action-button {
                margin-left: auto;
                border: none !important;
        outline: none !important;
            }
        }
    }
}
