.land-nft-image{
    /* width: 350px !important; */
  
  }
  
  
  @media screen and (max-width: 786px) {
      .popup-span{
          width: 100%;
          font-size: 13px;
      }
  
      .land-nft-image{
        width: 75% !important;
    }
  }
  
  .popup-title-wrapper{
    border-radius: 56px;
  /* background: rgba(255, 255, 255, 0.06); */
  }

  .popup-active{
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    top: 0% !important;

}

  .metaverse {
    background: #4ed5d2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  