header {
  .toggle-button-wrapper {
    min-width: 52px;
    width: 52px;
    height: 26px;
    background: $light-gray-d9;
    border-radius: 100px;
    // background-image: url("./moonPassive.svg");
    background-position: right;
    background-repeat: no-repeat;
    .toggle-circle {
      //     width: 20px;
      //     height: 20px;
      //     left: 3px;
      //     top: 50%;
      //     transform: translateY(-50%);
      background-image: url("./sunActive.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--light-gray-f6);
      background-color: $light-gray-f6;

      .active-toggle {
        background-image: url("./sunPassive.svg");
        background-position: left;
        background-repeat: no-repeat;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      &:first-of-type {
        // left: 6px;
      }
      &:last-of-type {
        right: 113px;
      }
    }
  }
  .active-toggle {
    .toggle-circle {
      left: 26px;
      background-image: url("./moonactive.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--light-gray-f6);


    }
    svg {
      &:first-of-type {
        path {
          fill: $dark-gray-3a;
        }
      }
      &:last-of-type {
        path {
          fill: $accent-red-f8;
        }
      }
    }
  }
}

.toggle-button-wrapper .toggle-circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  left: 4px;
  top: 1px;
  transition: 0.3s;
}
