.leaderboard-wrapper {
  font-family: "Poppins", sans-serif !important;
}

.leaderboardTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  @media screen and (max-width: 786px) {
    font-size: 18px;
  }
}

.grandPrices-wrapper {
  background-color: #242240;
  border-radius: 8px;
  padding: 10px;
  background-image: url("./assets/grandPrizeBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.grandprizeTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
}

.prizeitem {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.winnersamount {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.018em;
  color: #ff9fc9;
  text-shadow: 0px 4px 4px rgba(36, 34, 64, 0.26);
  background: linear-gradient(242.68deg, #2d106b 11.53%, #1b0c44 103.68%);
  padding: 3px 10px;
}

.winnerwrapper {
  background: linear-gradient(210.54deg, #e36eff -3.77%, #6a21f7 85.1%);
  border-radius: 6px;
  padding: 5px;
}

.playerTable {
  border-radius: 8px;
  color: white;
}

.playerData {
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.playerHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
  position: sticky;
  top: 0;
  // background: #080b2a;
  z-index: 2;
  white-space: nowrap;
}

.optionText {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #747687;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 80px;
}

.optionText:hover,
.activeoption {
  color: #FFF;
}

.optionTextGolden {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
  display: flex;
  justify-content: center;
}

.goldenscore {
  background: linear-gradient(0deg, #7344b3 0.27%, #20bbca 99.74%) !important;
  color: #fff !important;
  text-align: center;
  position: relative;
}

// .goldenscorefirst::after {
//   content: '+';
//   position: absolute;
//   left: -5px;
//   color: red !important;

// }

.goldenscore-inactive {
  // background: rgb(88 86 82 / 80%) !important;
  color: #48465e !important;
  text-align: center;
  position: relative;
}

.activeoptiongolden {
  color: #f7f7ff;
  font-size: 14px;
}

.viewWinners {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
}

.previous-desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
}

.optionsWrapper {
  border-radius: 12px;
  background: #1E2237;
  padding: 2px;
}

.playerRow {
  position: static;
  z-index: 1;
}

.playerInnerRow {
  background: none !important;
  border-bottom: 1px solid #757086;
}

.playerInnerRow-inactive {
  background: rgba(0, 254, 207, 0.1);
  .goldenscore-inactive {
    color: #09f3d2 !important;
  }
}

.playerAvatar {
  width: 30px;
  height: 30px;
}
.premium-star {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
}

.playerReward {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.018em;
  color: #09f3d2;
}
.playerScore {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.018em;
  color: rgba(243, 192, 9, 1);
}
.goldenscore-inactive2 {
  color: #fff ;
  text-align: center;
}
.playerName {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
}

.tablewrapper {
  height: fit-content !important;
  // overflow-y: auto;
}

.medal-wrapper {
  background: url("./assets/medalbg.svg");
  background-position: center -62px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 475px;
  border-radius: 20px;
  border: 1px solid #4c4e64;
}

.medalinnerwrapper {
  top: -40px;
  height: 120px;
}

.secondaryplayer-wrapper {
  background: #181b38;
  border-radius: 12px;
  padding: 10px;
  margin-right: -8px;
}

.thirdplayer-wrapper {
  background: #181b38;
  border-radius: 12px;
  padding: 10px;
  margin-left: -8px;
}

.mainplayer-wrapper {
  background: #20223e;
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
  position: relative;
  top: -45px;
  height: 165px;
}

.winnerimg {
  height: 113px;
  bottom: 127px;
}

.playersname {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.winnersreward {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #f3900d;
}

.playerscore {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #b8b8e0;
}

.playersimg {
  height: 68px;
  bottom: 85px;
}
.playersreward {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #02f9d0;
}

.placeimg {
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

.optiongenesis {
  // background: linear-gradient(90.31deg, #F1B14B 0.27%, #DC5738 99.74%);
  border-radius: 0px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #09f3d2 !important;
  color: #09f3d2;
}

.otheroptionsActive {
  // background: linear-gradient(90.31deg, #7344B3 0.27%, #20BBCA 99.74%);
  // font-weight: bold;
  padding: 10px;
  border-radius: 12px;
  white-space: nowrap;
  // border-bottom: 1px solid #09f3d2 !important;
  color: #FFF;
}

.comingsoon {
  filter: blur(3px);
}
.watermark {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  opacity: 0.5;
  transform: rotate(-28deg);
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 353px;

  // @media only screen and (max-width: 767px) {
  //   left: 28%;
  // }

  @media only screen and (max-width: 500px) {
    width: 253px;
    font-size: 20px;
  }
}

.tooltip-wrapper {
  background: #3b217b;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  position: absolute;
  top: 100%;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
}

.tooltip-active {
  opacity: 1;
  visibility: visible;
}

.tooltip-content {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Poppins";
}

.statusText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.018em;
  color: #fe7a00;
}

.leaderboard-item {
  width: 33%;
  background: rgba(151, 89, 192, 0.3);
  border-radius: 12px;

  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.optionswrapper-bg {
  position: absolute;
  width: 33%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #f4e07b;
  background: #341553;
  transition: all 0.25s ease-in-out;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.move-1 {
  transform: translateX(100%);
}

.move-2 {
  transform: translateX(203%);
}

.move-3 {
  transform: translateX(300%);
}
.leaderboard-icon {
  transition: all 0.25s;
}

.leaderboard-icon-active {
  filter: grayscale(0);
}

.blur-leaderboard{
  filter: blur(10px);
  pointer-events: none;
}