.daily-question-mainhero-wrapper {
  min-height: 45vh !important;
  background-image: linear-gradient(0deg, #080b2a 0%, rgba(8, 11, 42, 0.6) 100%),
    url("https://cdn.worldofdypians.com/wod/earnHeroBg.webp") !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (max-width: 991px) {
    min-height: auto !important;
  }

  @media only screen and (max-width: 450px) {
    background-image: linear-gradient(
        180deg,
        #080b2a 0%,
        rgba(8, 11, 42, 0.01) 100%
      ),
      url("https://cdn.worldofdypians.com/wod/earnHeroBgMobile.webp") !important;
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.daily-question-wrapper {
  margin-top: 150px;
  // margin-bottom: 50px;

  @media screen and (max-width: 786px) {
    margin-top: 40px;
    //   background-image: linear-gradient(
    //     0deg,
    //      #080b2a 0%,
    //      rgba(8, 11, 42, 0.6) 100%
    //    ),
    //    url("./assets/earnHeroBgMobile.webp") !important;
    //  background-position: top;
    //  background-repeat: no-repeat;
    //  background-size: cover;
  }
}

.question-wrapper {
  border-radius: 8px;
  border: 0.5px solid #dfdced;

  padding: 30px;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  @media screen and (max-width: 786px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.question-title {
  font-size: 2rem;
  font-weight: 700;
  color: #f0f8ff;
  margin-bottom: 0;
}
.question-sure {
  font-size: 1rem;
  font-weight: 500;
  color: #f0f8ff;
  margin-bottom: 0;
}

.answer-card {
  border-radius: 8px;
  border: 0.5px solid #dfdced;
  padding: 20px;
  // background: #c23644;
  // background: #43b65e;
  text-align: center;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
}

.answer-card-correct {
  background: #43b65e !important;
}

.answer-card-incorrect {
  background: #c23644 !important;
}

.answer-text {
  color: #dfdced;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}

.answer-card:hover {
  transform: translateY(-5px);
  background: #dfdced;
  // box-shadow: 0 0 15px rgba(72, 139, 255, 0.7);
  .answer-text {
    color: #0e1236;
  }
}

.selected-answer {
  transform: translateY(-5px);
  background: #dfdced;
  // box-shadow: 0 0 15px rgba(72, 139, 255, 0.7);
  .answer-text {
    color: #0e1236;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}

/* Staggered animation */
.answer-card:nth-child(1) {
  animation-delay: 0.1s;
}
.answer-card:nth-child(2) {
  animation-delay: 0.3s;
}
.answer-card:nth-child(3) {
  animation-delay: 0.5s;
}

.disabled-answer {
  pointer-events: none !important;
    p {
    color: #dfdced !important;
  }
}

.disabled-answer-selected {
  pointer-events: none !important;
  opacity: 1 !important;

}
