.game-update-title{
    color: #EEEDFF;
font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 135% */
}

.game-update-desc{
    color: #9D9DAB;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
}


.game-updates-title-wrapper{
    background: linear-gradient(180deg, #140836 100.09%, #2F025B 181.99%);
}

.update-divider{
    background: rgba(255, 255, 255, 0.25);
    opacity: 1 !important;
    height: 2px;
    width: 100%;
  }
  