@import "../../../responsive";

.modal {
  .modal-dialog {
    max-width: 907px;
    /* margin: 1.75rem auto; */
    height: inherit;
    overflow-y: auto;
    /* height: auto; */
    pointer-events: auto;
    padding: 0 16px;
    margin: auto;

    .modal-content {
        border-radius: 8px;
        padding: 16px;
        background: #312f69 !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 600px;
        height: fit-content;
        margin: auto;
        position: absolute;
        top: auto;
        bottom: auto;
        right: 0;
        left: 0;
        width: 50%;
      }
  }
}
