.container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  -webkit-clip-path: polygon(83% 0, 100% 15%, 99% 100%, 15% 100%, 0 89%, 0 0);
  clip-path: polygon(83% 0, 100% 15%, 99% 100%, 15% 100%, 0 89%, 0 0);
}

.detailsWrapper {
  padding: 20px;
  padding-left: 40px;
  padding-top: 12px;
  background-color: #5B08D0;
  margin-top: -5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.desc {
  margin: 0;
  text-align: left;
  font-family: "Poppins" !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}

.title {
  margin: 0;
  text-align: left;
  font-family: "Poppins" !important;
  font-weight: 500 !important;
  font-size: 19px !important;
  color: #ffffff !important;
  letter-spacing: 0 !important;
}

.clip {
  -webkit-clip-path: polygon(72% 0, 100% 25%, 100% 100%, 32% 100%, 0 100%, 0 0);
  clip-path: polygon(72% 0, 100% 25%, 100% 100%, 32% 100%, 0 100%, 0 0);

  width: 150px;
  height: 174px;
}

.block {
  position: absolute;
  background-color: black;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(72% 0, 100% 25%, 100% 100%, 32% 100%, 0 80%, 0 0);
  clip-path: polygon(72% 0, 100% 25%, 100% 100%, 32% 100%, 0 80%, 0 0);
}