.collection-item {
  width: fit-content;
  background: lightgray;
  border-radius: 20px;
  transition: all 0.35s;
  cursor: pointer;
}

.collection-title {
  color: #000000 !important;
  transition: all 0.35s;
}

.collection-header {
  scroll-margin-top: 5rem;
  color: #ffffff;
}

.collection-item:hover {
  background: #554fd8;

  .collection-title {
    color: white !important;
  }
}

.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-header {
  scroll-margin-top: 6rem;
}

.item-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;

  

  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 786px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.marketplace-sidebar {
  width: 13%;
  position: fixed;
  height: 100%;
  left: 0%;
  background: #080b2a;
  box-shadow: 4px 4px 20px 1px #340d60;
  @media screen and (max-width: 1600px) {
    width: 17%;
  }
}

.nft-outer-wrapper {
  background: rgba(22, 24, 54, 0.6);
  border-radius: 20px;

}
.nft-outer-wrapper-1 {
  background: rgba(22, 24, 54, 1);
  border-radius: 20px;
}

.nft-wrapper-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.nft-wrapper-title {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.nft-stats-title {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.nft-chain-title {
  font-weight: 700;
  line-height: 16px;
  font-size: 10px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #737d8f;
}

.nft-chain-amount {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.stats-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.stats-details {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}

.container-nft {
  width: 80%;
  background-image: url('./assets//marketplaceBackground.png');
  background-size: cover;
  @media screen and (max-width: 786px ) {
    width: 100%;
    align-items: center !important;
  }
}

.slider-container{
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.icon-wrapper {
  width: 20px;
  height: 20px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 16.3366px;
  line-height: 19px;
  color: #B8B8E0;
}

.sidebar-title-active {
  font-weight: 600;
  font-size: 16.3366px;
  line-height: 19px;
  color: #F8F8FF;
}

.sidebar-item {
  width: 100%;
  border-radius: 16.3366px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none !important;
}

.sidebar-item:hover {
  background: linear-gradient(
    269.74deg,
    rgba(255, 255, 255, 0.21) -254.09%,
    rgba(255, 255, 255, 0) 99.84%
  );
  .sidebar-title {
    color: #ffffff;
  }
}

.sidebar-item-active {
  background: linear-gradient(
    269.74deg,
    rgba(255, 255, 255, 0.21) -254.09%,
    rgba(255, 255, 255, 0) 99.84%
  );

  .sidebar-title{
    color: #ffffff !important;
  }
}

.packages-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  margin-top: 2rem;
}

.event-package{
  height: fit-content;
}

.sidebar-divider{
  width: 100%;
  height: 2px;
  background: #525469;
}

.social-link{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
color: #8B8C91;
margin-bottom: 0px !important;
}

.events-wrapper{
  align-items: center;
  @media screen and (max-width: 1600px)  {
    align-items: end;
  }
}

.sales-number{
  line-height: 24px;
    color: #777d86;
    width: 12px;
}

.nft-name-wrapper{
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  background-color: rgba(184, 184, 224, 0.6);
  color: #F8F8FF;
}

.price-usd{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #F8F8FF;
}
.price-token{
  font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B8B8E0;
}
.top-sales-card{
  border-radius: 12px;
  cursor: pointer;
  transition: all .25s;
}

.top-sales-card:hover{
  background-color: rgba(184, 184, 224, 0.3);
}

.filter-wrapper{
  border-radius: 8px;
  transition: all .25s;
  cursor: pointer;
}

.filter-wrapper-selected{
  background-color: rgba(184, 184, 224, 0.6);
  h6{
    color: #F8F8FF;
  }
}

.filter-wrapper:hover{
  background-color: rgba(184, 184, 224, 0.3);
  h6{
    color: #F8F8FF;
  }

}

.filter-title{
  margin-bottom: 0;
  color: #B8B8E0;
  font-weight: 600;
  font-size: 16px;
}
