.fly-position{

    position: fixed;
    right: -300px;
    bottom: 100px;
    z-index: 9;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    @media screen and (max-width: 786px) {
        bottom: 150px;
    }
    
    
    .fly-outer-wrapper {
        border-radius: 8px;
        background-image: url("./assets/landFlyout.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 250px;
        height: 310px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;


      
        .close-fly{
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            z-index: 10;
        }


        .fly-inner-wrapper {
          background: #070507;
        border-radius: 8px;
        width: 230px;
        height: 306px;
          .fly-title {
            font-weight: 800;
            font-size: 17px;
            line-height: 18px;
            text-align: center;
            color: #f7f7fc;
          }
      
          .fly-action {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #09d7b7;
          }
        }
      }

      
}


.fly-active{
    right: 2.5% !important;
    opacity: 1 !important;
    @media screen and (max-width: 786px) {
        right: 1.5% !important;
    }
}