.fly-position {
  position: fixed;
  right: -300px;
  bottom: 100px;
  z-index: 9;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  @media screen and (max-width: 786px) {
    bottom: 150px;
  }

  .fly-outer-wrapper {
    border-radius: 8px;
    background-image: url("./assets/landFlyout.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 310px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .close-fly {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      z-index: 10;
    }

    .fly-inner-wrapper {
      background: #070507;
      border-radius: 8px;
      width: 230px;
      height: 306px;
      .fly-title {
        font-weight: 800;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #f7f7fc;
      }

      .fly-action {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #09d7b7;
      }
    }
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-position2 {
  position: fixed;
  right: -300px;
  bottom: 100px;
  z-index: 9;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  @media screen and (max-width: 786px) {
    bottom: 150px;
  }

  .fly-outer-wrapper2 {
    border-radius: 8px;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fly-inner-wrapper2 {
      background-image: url("./assets/flyoutBgLarge.svg");
      background-repeat: no-repeat;
      border-radius: 12px 0px 0px 12px;
      background-size: cover;

      // .flyTitleHidden {
      //   display: none;
      // }

      .fly-action {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #09d7b7;
      }
    }
  }
}

.fly-title2 {
  // font-weight: 800;
  // font-size: 17px;
  // line-height: 18px;
  // text-align: center;
  // color: #f7f7fc;
  // -webkit-animation: slide-in-right 1s
  //   cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  // animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: none;
}

.fly-active {
  right: 2.5% !important;
  opacity: 1 !important;
  @media screen and (max-width: 786px) {
    right: 1.5% !important;
  }
}

.fly-active2 {
  right: -0.3% !important;
  opacity: 1 !important;
  bottom: 25%;
  height: fit-content;
  @media screen and (max-width: 786px) {
    right: -1.5% !important;
  }
}

.fly-title2 {
  display: flex;
  color: #f7f7fc;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-wrap: nowrap;
}

.mainChest {
  width: 60px;
  height: 60px;
  animation: pulsate 3s ease-in-out infinite;
}



@keyframes pulsate {
  0% {
    filter: drop-shadow(0px 0px 0px rgba(125, 203, 217, 0.6));
  }
  50% {
    filter: drop-shadow(0px 0px 15px rgba(125, 203, 217, 0.6));
  }
  100% {
    filter: drop-shadow(0px 0px 0px rgba(125, 203, 217, 0.6));
  }
}

.flyout-chest {
  animation: jump-shaking 2s ease-in-out infinite;
}

.flyout-sword{
  position: absolute;
  z-index: -1;
  width: 130px;
  top: -40px;
  left: -55px;
  animation: jump-shaking 3s ease-in-out infinite;

}


@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(3px) ranslateX(-3px);
  }
  50% {
    transform: translateY(-3px) translateX(-3px);
  }
  75% {
    transform: translateY(3px) translateX(3px);
  }
  // 65% {
  //   transform: translateY(-3px) translateX(-3px);
  // }
  // 75% {
  //   transform: translateY(3px) translateX(3px);
  // }
  100% {
    transform: translateY(0) rotate(0);
  }
}

