.user-cardBg {
  // background-color: transparent;
  // background-image: url("../../Images/userProfile/user-cardBg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 14px;
  position: relative;
  display: table;
  font-family: "Poppins", sans-serif !important;
}

.user-cardImg {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(33, 36, 64, 0.15) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #494b61;
}

.bordereddiv {
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: 1px solid #494b61;
}

.premiumtext-active {
  color: #ffbf00;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Poppins";
  width: fit-content;
}

.premiumtext {
  color: #1BF5FF;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Poppins";
  width: fit-content;
}

.premiumtext-alert {
  color: #ed8225;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
  font-family: "Poppins";
}

.logoutbtn {
  color: #ff6232;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-cardImg-active {
  background: linear-gradient(
    180deg,
    rgba(27, 245, 255, 0.15) 0%,
    rgba(118, 15, 90, 0) 100%,
    rgba(33, 36, 64, 0) 100%
  );
  border-radius: 10px;
  border: 1px solid #494b61;
}

.user-cardImg-active-premium {
  background: linear-gradient(
    180deg,
    rgba(255, 191, 0, 0.3) 0%,
    rgba(33, 36, 64, 0.01) 100%
  );
  border-radius: 10px;
  border: 1px solid #494b61;
}

.hoverpremium:hover {
  filter: drop-shadow(0px 4px 25px #dfb625);
}
.hoveractive,.hoverpremium {
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.hoveractive:hover {
  filter: drop-shadow(0px 0px 6px #00bacc);
}

.user-cardImg-alert {
  background: linear-gradient(
    180deg,
    rgba(237, 130, 37, 0.15) 0%,
    rgba(33, 36, 64, 0) 100%
  );
  border-radius: 10px;
  border: 1px solid #494b61;
}

.sync-wrapper {
  border-radius: 10px;
  // background: rgba(237, 130, 37, 0.08);
}

.sync-txt {
  color: #ffffff;
  font-size: 12px;
}

.syncbtn {
  border-radius: 10px;
  background: linear-gradient(90deg, #830e47 0%, #5065c3 100%);
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  border: none;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.syncicon {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.wallettitle {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.walletAddr {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
}

.userAvatar-alert {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 4px 16px rgba(237, 130, 37, 0.6));
}

.userAvatar {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 4px 16px rgba(0, 254, 207, 0.3));
}

.userAvatarPremium {
  width: 80px;
  // height: 80px;
  filter: drop-shadow(0px 4px 16px rgba(253, 157, 8, 0.3));
}

.ranktitle {
  color: rgba(247, 247, 247, 0.8);
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.018em;
}

.borderdiv {
  border-bottom: 1px solid #757086;
}

.userRank {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.usernametext {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.emailtext {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
}

.blancetext {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #8c56ff;
}

.balancetext {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

.copybtn {
  background: linear-gradient(
      0deg,
      rgba(0, 254, 207, 0.3),
      rgba(0, 254, 207, 0.3)
    ),
    linear-gradient(
      112.83deg,
      rgba(255, 255, 255, 0.47) 0%,
      rgba(255, 255, 255, 0) 110.84%
    );
  box-shadow: 0px 4px 12px rgba(0, 254, 207, 0.24);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  width: fit-content;
  color: #fff;
}

.copybtninner {
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dypMedal {
  top: -30px;
  right: 0px;
  width: 72px;
  height: 68px;
}

.explorebanner {
  padding: 20px;
  border-radius: 20px;
  background: url("./assets/explorebg.webp");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.failbtn {
  border-radius: 20px;
  background: linear-gradient(90deg, #ffac45 0%, #ff6232 100%);
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.signintext {
  color: #82daac;
  font-size: 12px;
  font-weight: 600;
}

.signintext:hover,
.logouttext:hover {
  text-decoration: underline;
}

.logouttext {
  color: #ff6232;
  font-size: 12px;
}

.playerimg {
  width: 396px;
  height: 361px;
  bottom: 0;
  object-fit: contain;
  right: -80px;

  @media screen and (max-width: 991px) {
    display: none !important;
  }
}

.golden-pass-wrapper{
  background-image: url('./assets/goldenPassBorder.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  padding: 0px;
  position: absolute;
  width: 130%;
  height: 138%;
  top: 0;
  right: 0;
  left: -14%;
  bottom: 0;
  margin: auto;


  @media screen and (max-width: 786px) {
display: none;
   
  }
}

.golden-pass-tag{
  position: absolute;
  right: 0;
  top: -20%;
  margin: auto;
}