.sub-asset-card-wrapper {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid $light-gray-f5;
    margin-top: 16px;
    transition: 0.3s;
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var('--black');
        opacity: 0.4;
        margin: 0;
    }
    &:last-of-type {
        border-bottom: none;
    }
    .data-section {
        width: 100%;
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
            .icons {
                width: auto;
                img {
                    position: relative;
                    margin-left: -5px;
                    z-index: 1;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
            p {
                font-weight: 800;
                font-size: 18px;
                line-height: 23px;
                color: $accent-green;
                opacity: 1;
            }
        }
        &-middle {
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    .button-icon-section {
        width: fit-content;
        margin-left: auto;
        padding-left: 22px;
        .big_icon {
            width: 48px;
            height: 48px;
            object-fit: contain;
        }
    }
}
