.mainhero-wrapper {
    min-height: 85vh !important;
}

.buy-item-logo {
  width: 47px;
}

.buy-item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #ffffff;
}

.buy-items-all-wrapper {
    backdrop-filter: blur(12.5px);
    background: linear-gradient(148deg, #0000001a, #0000000d);
}

.buy-token-wrapper {
 border: 0.1rem solid rgb(149 143 135);
 min-height: 87px;
}

.buy-token-wrapper:hover {
    border: 0.1rem solid #fff;
    transition: all .25s ease;
    // filter: drop-shadow(0 0 6px #fff);

}