.wallet-balance {
  // background: #242240;
  border-radius: 8px;
  font-family: "Poppins", sans-serif !important;

  .wallet-wrapper {
    // background: linear-gradient(0deg, #2e2853, #2e2853),
    //   linear-gradient(
    //     112.83deg,
    //     rgba(255, 255, 255, 0.47) 0%,
    //     rgba(255, 255, 255, 0) 110.84%
    //   );
    cursor: pointer;
    border-radius: 6px;
    .wallet-span {
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: -0.18px;
    }

    .wallet-address {
      color: #b8b8e0;
      font-size: 12px;
      letter-spacing: -0.216px;
    }
  }

  .walletassoc-txt {
    color: #b8b8e0;
    font-size: 10px;
  }

  .multipe-wallet {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.018em;
    color: #ffffff;
  }

  // .bnb-wrapper {
  //   background: linear-gradient(90.83deg, #daaa0a 0.71%, #2e2853 65.22%);
  //   border-radius: 6px;
  // }

  // .avax-wrapper {
  //   background: linear-gradient(90.83deg, #df2d2e 0.71%, #2e2853 65.22%);
  //   border-radius: 6px;
  // }

  .chain-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #f7f7fc;
  }
}

.walletinfo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #f7f7fc;
  opacity: 0.8;
}

.totalcollection {
  color: #11fed2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.orangesection {
  background: linear-gradient(114.11deg, #faa525 3.05%, #c13509 97.98%);
  border-radius: 6px;
  padding: 10px;
  width: fit-content;
  height: 23px;
  display: flex;
  align-items: center;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    color: #ffffff;
  }
}

.explore-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #ffffff;
}

.bal-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #b8b8e0;
}

.dyp-wrapper,
.idyp-wrapper {
  background: #252743;
  border-radius: 25px;
}

.wallet-amount {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.chain-icon {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
}

.balancewrapper3 {
  margin: 0 1rem;
}

.globaltext {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b5ccd4;
}

.genesistext {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffb802;
}

.genesisimg {
  height: 70px;
  scale: 1.3;
}

.eth-chain-text {
  color: #5871d2;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.bnb-chain-text {
  color: #d9a908;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.blurrystate {
  filter: blur(6px);
}

.avax-chain-text {
  color: #df2c2d;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.account-nft-sort {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e2e2e2;
  transition: all 0.25s;
  cursor: pointer;
}

.balanceseparator {
  height: 1px;
  background: #e2e2e2;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 500px;
}

.nft-sort-selected {
  color: #00fecf;
}

.account-nft-sort:hover {
  color: #00fecf;
}

.account-card-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.account-nft-card {
  background: #252743;
  backdrop-filter: blur(26px);
  border-radius: 10px;
}

.account-nft-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #b8b8e0;
  margin-bottom: 0;
}

.account-nft-type {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.account-view-all {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #7dd9af;
  margin-bottom: 0;
}

.rankings-outer-wrapper {
  height: auto;
  @media screen and (max-width: 786px) {
    height: fit-content;
  }
}
.rankings-wrapper {
  height: 100%;
  @media screen and (max-width: 786px) {
    height: fit-content;
  }
}

.account-nft-sort-wrapper {
  width: 100%;

  @media screen and (max-width: 786px) {
    overflow-x: scroll;
  }
}

.MuiPaginationItem-root {
  color: white !important;
}

.profile-event-title {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.profile-event-rewards {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.profile-time-number {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.profile-time-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}
.profile-time-number-2 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 14px;
  color: #ffffff;
  @media screen and (max-width: 786px) {
    font-size: 12px;
  }
}

.profile-time-desc-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  color: #ffffff;
  @media screen and (max-width: 786px) {
    font-size: 10px;
  }
}

.event-bottom-text {
  color: #18ffff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.profile-events-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.profile-wrapper-title {
  color: #b8b8e0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 15px;
}

.profile-event-item {
  border-radius: 8px;
  background: rgba(24, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #18ffff;
  cursor: pointer;
  height: fit-content;
}

.profile-event-top {
  border-radius: 8px;
  background: #252743;
  backdrop-filter: blur(10px);
}

.profile-event-bottom {
  border-radius: 0 0 8px 8px;
}

// .profile-event-item:first-child {
//   transform: translateX(15px);
//   @media screen and (max-width: 786px) {
//     transform: translateX(0px);
//   }
// }

.profile-event-item:nth-child(1) {
  transform: translateX(20px);
  @media screen and (max-width: 786px) {
    transform: translateX(0px);
  }
}
// .profile-event-item:nth-child(2) {
//   transform: translateX(15px);
//   @media screen and (max-width: 786px) {
//     transform: translateX(0px);
//   }
// }
.profile-event-item:nth-child(3) {
  transform: translateX(-20px);
  @media screen and (max-width: 786px) {
    transform: translateX(0px);
  }
}
.profile-event-item:nth-child(4) {
  transform: translateX(-15px);
  @media screen and (max-width: 786px) {
    transform: translateX(0px);
  }
}

.profile-event-tag {
  border-radius: 3px;
  background: #18ffff;
  position: absolute;
  right: 0px;
  top: -12px;
  z-index: 2;
  span {
    color: #324b4b;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.profile-event-popup {
  max-height: 80%;
  overflow-y: auto;
  background: #1a1c39;
  border-radius: 10px;
  width: 50%;
  height: fit-content;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  @media screen and (max-width: 1600px) {
    width: 75%;
  }
  @media screen and (max-width: 786px) {
    width: 95%;
  }
}

.event-popup-title {
  color: #f7f7fc;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-popup-status-live {
  border-radius: 3px;
  background: #18ffff;
  span {
    color: #324b4b;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.event-popup-status-upcoming {
  border-radius: 3px;
  background: #8C56FF;
  span {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.event-popup-status-expired {
  border-radius: 3px;
  background: #B8B8E0;
  span {
    color: #404040;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.profile-event-popup-wrapper {
  border-radius: 10px;
  background: #252743;
  // backdrop-filter: blur(26px);
}

.popup-second-title {
  color: #eeedff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup-rewards {
  color: #7dd9af;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.event-popup-chain {
  color: #eeedff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup-event-info {
  color: #eeedff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup-red-wrapper {
  border-radius: 10px;
  background: rgba(127, 20, 80, 0.2);
  backdrop-filter: blur(26px);
}

.event-my-earnings {
  color: #eeedff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.event-earnings-coin {
  color: #eeedff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.event-earnings-usd {
  color: #7dd9af;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.get-beta-btn {
  border-radius: 20px;
  background: linear-gradient(90deg, #7bd8af 0%, #d9fa86 100%);
  color: #080b2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.upcoming-tag {
  border-radius: 3px;
  background: #8c56ff;
  position: absolute;
  top: 0px;
  right: 0;
  .upcoming-text {
    color: #fff;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.live-tag {
  border-radius: 3px;
  background: #18FFFF;
  position: absolute;
  top: 0px;
  right: 0;
  .live-text {
color: #324B4B;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
}
.expired-tag {
  border-radius: 3px;
  background: #B8B8E0;
  position: absolute;
  top: 0px;
  right: 0;
  .expired-text {
    color: #404040;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.event-slider-date{
  color: #B8B8E0;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
