.item-wrapper {
  background: #252743 !important;
  border: 1px solid #494b63;
  backdrop-filter: blur(26px);
  /* Note: backdrop-filter has minimal browser support */
transition: all .35s;
  border-radius: 20px;
  // padding-top: 15px;
  // padding-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.nft-img {
  transition: all 0.2s;
  border-radius: 20px 20px 0 0;

}

.buy-nft-btn {
  // background-color: rgb(46, 142, 238);
  background: #7bd8b0;
  border: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 12px 12px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: absolute;
  bottom: -40px;
  transition: all 0.2s;
}

.nft-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b8b8e0;
  margin-bottom: 0;
}

.nft-price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 0;
}

.nftimg-bg {
  // background: url('https://mint.dyp.finance/thumbs/424.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  // height: 200px;
}

.name-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(26px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px;
}

.nft-card-name{
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
z-index: 2;
}

.item-wrapper:hover {
 background: rgba(103, 67, 124, 0.35) !important;
 
}
