.item-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
  // padding-top: 15px;
  // padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: #554fd8;
}

.nft-img {
  transition: all 0.2s;
}

.buy-nft-btn {
  // background-color: rgb(46, 142, 238);
  background: #7bd8b0;
  border: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 12px 12px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: absolute;
  bottom: -40px;
  transition: all 0.2s;
}

.nft-name {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  color: #ffffff;
}

.nft-price {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.nftimg-bg {
  // background: url('https://mint.dyp.finance/thumbs/424.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  // height: 200px;
}

.item-wrapper:hover {
  .buy-nft-btn {
    bottom: 0px;
  }
  .nft-img {
    transform: scale(1.2);
  }
}

