.item-wrapper {
  background: #252743 !important;
  border: 1px solid #494b63;
  backdrop-filter: blur(26px);
  overflow: hidden;
  transition: all 0.35s;
  border-radius: 20px;
  // padding-top: 15px;
  // padding-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.nft-img {
  transition: all 0.2s;
  border-radius: 20px 20px 0 0;
}

.buy-nft-btn {
  // background-color: rgb(46, 142, 238);
  background: #12688f;
  border: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 20px 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  bottom: -40px;
  transition: all 0.2s;
  color: #eeedff;
  height: 28px;
}

.cawsimg {
  --mask: linear-gradient(-284deg,#0000 93px,#000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  margin-left: -155px;
}

.nft-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b8b8e0;
  margin-bottom: 0;
}

.nft-price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 0;
}

.nftimg-bg {
  // background: url('https://mint.dyp.finance/thumbs/424.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  // height: 200px;
}

.name-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(26px);
  z-index: 1;
  border-radius: 0px;
}

.nft-card-name {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.item-wrapper:hover {
  background: rgba(103, 67, 124, 0.35) !important;

  .topwrapper {
    padding-top: 10px !important;
  }

  .favoritehover {
    position: relative;
    top: -3px;
    scale: 0.9;
  }

  .nft-price-usdhover {
    visibility: hidden;
    line-height: 8px;
  }

  .middlewrapper {
    align-items: center;
    margin-bottom: 6px;
  }

  .buy-nft-btn {
    bottom: 0px;
  }
  .nft-img {
    transform: scale(1.1);
  }
}
