.deposit-popup-txt {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bal-smallTxt {
  color: #c0c9ff !important;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bal-bigTxt {
  color: #4ed5d2 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bal-bigTxt2 {
  color: #4ed5d2 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.claim-inner-btn {
  border-radius: 8px;
  border: 1px solid #a05bf8;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 9px 24px;
}

.claim-inner-btn:hover {
  border-radius: 8px;
  background: linear-gradient(94deg, #a05bf8 0%, #f03b3b 100%);
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 9px 24px;
}

.inner-max-btn {
  border-radius: 8px;
  border: 1px solid #7770e0;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: transparent;
  right: 10px;
  bottom: 8px;
}

.inner-max-btn:focus {
  border-radius: 8px;
  border: 1px solid #7770e0;
  background: #7770e0;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  right: 10px;
  bottom: 8px;
}

.info-pool-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details-text2 {
  border-radius: 12px;
  border: 1px solid #7BD8B0;
  background: transparent;
  color: #7BD8B0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.details-text2:hover {
background: linear-gradient(90deg, #7BD8B0 0%, #DCFB85 100%);
color: #333;
}

.filledbtn {
  background: linear-gradient(to left, #7770e0, #3e3aa5, #554fd8, #7770e0);
  background-size: 300%;
  background-position: 0 0;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  border: none;
  padding: 9px 24px;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
}

.filledbtn:hover,
.filledbtn:focus {
  color: white !important;
  background-position: 100% 0 !important;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.09) !important;
}

.disabled-btn {
  color: #c0c9ff !important;
  background: #14142a !important;
  border: 1px solid #14142a !important;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  padding: 9px 24px;
  font-size: 12px;
  line-height: 18px;
  opacity: 1 !important;
}

.success-button {
  color: #ffffff !important;
  background: linear-gradient(90.74deg, #75cac2 0%, #57b6ab 100%) !important;
  border: none !important;
  border-radius: 8px;
  opacity: 1 !important;
}
.fail-button {
  color: #ffffff !important;
  background: linear-gradient(90.74deg, #f8845b 0%, #f0603a 100%) !important;
  border: none !important;
  border-radius: 10px;
  opacity: 1 !important;
}

.stats-link2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4cd0cd;
}

.stats-link2:hover {
  color: #4cd0cd !important;
  text-decoration: underline;
}

.connectbtn,
.connectbtn:hover,
.connectbtn:focus {
  background: #14142a;
  border-radius: 8px;
  border: 1px solid #4ed5d2;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #4ed5d2;
  width: 145px !important;
}

.text-input2 {
  padding: 0.4rem;
  border: 1px solid #8e97cd !important;
  background: transparent !important;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s;
  color: #f7f7fc !important;
}
