@import '../../colors';
@import '../../responsive';



.nft-minting-hero {
    background: url("../../assets/Nft/paw-meta-dark.png") no-repeat center;
    background-size: cover;
    .common-title-text {
        h1 {
            margin: 0;
            color: $black-theme;
        }
    }

    .newpaws {
        width: 100%;
        background-position: top;
        background-size: contain;
        height: fit-content;
    background-position: initial;
        
        background: url("../../assets/Nft/paw-meta-dark.png") no-repeat center;
        @include large {
            background: url("../../assets/Nft/paw-meta-dark.png") no-repeat center;
            background-size: cover;
    background-position: initial;

        }
    }
    .text-wrapper {
        // margin-top: -14px;
        // padding: 0 17px 32px 17px;
        @include large {
            // padding: 0 0 32px 80px;
        }
    }
}

.news-main-wrapper2 {
    gap: 80px;
    max-width: 2400px;
    overflow-x: hidden; 
    background-size: cover;}


.dark {
    .nft-minting-hero{
        .newpaws {
            background: url("../../assets/Nft/cats-and-watches-society-before-mobile-dark.png") no-repeat center;
            
            @include large {
                
                background: url("../../assets/Nft/cats-and-watches-society-before-dark.png") no-repeat center;
                background-size: cover;
            }
        }
    }
}