.aiLockedQuestion {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
}

.aiLockedDesc {
  color: #eeedff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.answer-outer-wrapper {
  // border-radius: 8px;
  // background: #3d4078;
  cursor: pointer;
}

.answer-inner-wrapper {
  background: url("https://cdn.worldofdypians.com/wod/answer-inner-wrapperbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.answer-inner-wrapper:hover,
.answer-inner-wrapper-active {
  background: url("https://cdn.worldofdypians.com/wod/answer-inner-wrapper-activebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .radio-button-option {
    border: 2px solid #008ebf;
  }
}
.answer-inner-wrapper-answer {
  background: url("https://cdn.worldofdypians.com/wod/answer-inner-wrapper-answerbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.answer-inner-wrapper-wrong {
  background: url("https://cdn.worldofdypians.com/wod/answer-inner-wrapper-wrongbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.radio-button-option-selected {
  width: 16px;
  height: 16px;
  border: 2px solid #87e0ff;
  background: #037da7;
  border-radius: 50%;
}

.radio-button-option-correct {
  width: 16px;
  height: 16px;
  background: url("https://cdn.worldofdypians.com/wod/aiCorrect.png");
  background-position: center;
  border: none !important;
  background-size: contain;
}

.radio-button-option-wrong {
  width: 16px;
  height: 16px;
  background: url("https://cdn.worldofdypians.com/wod/aiError.png");
  background-position: center;
  border: none !important;
  background-size: contain;
}

.radio-button-option {
  width: 16px;
  height: 16px;
  border: 2px solid #3d4078;
  border-radius: 50%;
}

.aiLockedImg {
  width: auto;
  height: 158px;

  @media screen and (max-width: 500px) {
    height: 110px;
  }
}

.ai-answer-result-wrapper {
  background: url("https://cdn.worldofdypians.com/wod/aiQuestionResultBanner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.aiAnswer-title {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aiAnswer-desc {
  color: #eeedff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.ai-countdown-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.ai-progress-bar-bg {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #262859;
  border-radius: 8px;
  overflow: hidden;
}

.ai-progress-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #4ed4d0 0%, #d4cf4e 100%);
  transition: width 1s linear;
}

.ai-danger {
  background: linear-gradient(90deg, #d44e4e 0%, #d46d4e 100%); /* red alert */
}

.ai-timer-text {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0px 0px 12px 12px;
  background: #262859;

  justify-content: center;
}

.ai-popup-x-wrapper {
  position: absolute;
  right: 65px;
  top: 20px;

  .ai-x {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
  }

  @media screen and (max-width: 500px) {
    right: 30px;
    top: 15px;
  }
}

.ai-chain-button {
  background: url("https://cdn.worldofdypians.com/wod/ai-chain-inactive.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: #c0c9ff;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
}

.ai-chain-button-active {
  background: url("https://cdn.worldofdypians.com/wod/ai-chain-active.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: #3bd3ed;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
}

.ai-chain-icon {
  width: 24px;
  height: 24px;
  @media screen and (max-width: 500px) {
    width: 20px;
    height: 20px;
  }
}

.ai-chain-button:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 219, 222, 0.8));
}

.ai-main-button {
  background: url("https://cdn.worldofdypians.com/wod/ai-main-button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: #3bd3ed;
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
}

.ai-timer-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.ai-progress-ring {
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
}

.ai-ring-bg {
  stroke-width: 10;
  // opacity: 0.2;
}

.ai-ring-progress {
  stroke-width: 10;
  //  transform: rotate(-90deg);
  transform: rotateY(-180deg) rotateZ(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1s linear;
}

.ai-timer-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}

.ai-time-icon {
  width: 36px;
  height: 36px;
}
