.active-proposals-wrapper {
  background: linear-gradient(180deg, #140836 100.09%, #2f025b 181.99%);
}

.active-proposals-inner-wrapper {
  border-radius: 10px;
  background: #390a4e;
}

.active-proposals-features {
  color: #bcadc7;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.gov-gray-text {
  color: #626270;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gov-white-text {
  color: #eeedff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.poll-tag {
  border-radius: 12px;
  background: linear-gradient(90deg, #7b2eb0 0%, #2647c9 100%);
}

.poll-text {
  color: #eeedff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.past-proposals-wrapper {
  background: linear-gradient(180deg, #140836 100.09%, #2f025b 181.99%);
}

.rejected-tag {
  border-radius: 12px;
  border: 1px solid #ff8168;
}

.rejected-text {
  color: #ff8168;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aor-tag {
  border-radius: 12px;
  background: linear-gradient(90deg, #ff8168 0%, #ea6278 100%);
}

.aor-text {
  color: #eeedff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.past-proposals-item {
  border-radius: 10px;
  background: #1c0d3e;
  cursor: pointer;
  border: 1px solid transparent;
}

.past-proposals-item:hover {
  border: 1px solid #b8b8e0;
}

.option-tag {
  border-radius: 12px;
  border: 1px solid #7bd8b0;
}

.option-text {
  color: #7bd8b0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
