.caws-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 100px;
}


.marquee{
  gap: 45px;
}

// .slick-slide {
//   margin: 0 24px;
//   width: 90vw !important;
// }

// /* the parent */
// .slick-list {
//   margin: 0 -24px;
// }

.slick-list {margin: 0 -10px;}
.slick-slide>div {padding: 0 10px;}

 
.button__bar {
  display: flex !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  // background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 70px;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #9664FF;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 10px;
  opacity: 0.3;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #9664FF;
  box-shadow: 0px 4px 4px rgba(150, 100, 255, 0.24);
}




.marketplace-title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  width: 50%;
}

.marketplace-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  width: 50%;
}


@media screen and (max-width: 786px) {
  .caws-grid{
    grid-template-columns: auto;
    gap: 30px;
  }

  .marketplace-title{
    width: 100% !important;
  }

  .marketplace-desc{
    width: 100% !important;
  }
}
