.marketplace-title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
}

.marketplace-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
}
