.oryn-gif-holder {
  // height: 400px;w
  // width: 200px;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 10;
}

.oryn-gif {
  width: 50%;
  @media screen and (max-width: 1000px) {
    width: 60%;
  }
}

.oryn-chat-title {
  width: 95%;
  background: rgba(8, 11, 42, 0.8);
  border: 1px solid #525469;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: 0;
  transition: all 1s;

  h6{
    color: #ffffff;
  }
}


.chat-fang {
    width: 20px;
    height: 25px;
    background-color: rgba(8, 11, 42, 0.8);
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    clip-path: polygon(50% 0%, 100% 100%, 0 0);
  }