.subasset-card-with-button {
    margin-bottom: 24px;
    @include medium {
        margin-bottom: 32px;
    }
    .elevated-container {
        padding: 24px 16px;
    }
    .top-tick {
        border: 2px solid $accent-purple;
        position: relative;
        &::after {
            content: "Top pick";
            position: absolute;
            width: 91px;
            top: 0;
            right: 16px;
            background: linear-gradient(86.72deg, #3250c4 4.69%, #627eea 95.84%);
            border-radius: 0px 0px 6px 6px;
            color: $white;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            padding: 5px 0;
        }
    }
    .sub-asset-card-wrapper {
        margin-top: 0;
        .icons-name {
            width: auto;
            display: flex;
            align-items: center;
            p {
                margin-left: 9px;
                font-weight: 800;
                font-size: 20px;
                line-height: 25px;
                color: $black-theme;
            }
        }
        .icons {
            width: auto;

            .one-image {
                width: 38px;
                height: 38px;
            }
        }
    }
    .button-wrapper {
        padding-top: 16px;
        button {
            width: 100%;
            background: linear-gradient(51.32deg, #e30613 -12.3%, #fa4a33 50.14%);
            border-radius: 6px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: $white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0;

            svg {
                width: 5px;
                height: 10px;
                margin-left: 8px;
            }
        }
    }
}
.dark {
    .subasset-card-with-button {
        .elevated-container {
            background-color: $black-26;
        }
    }
}
