.diagonal-button-wrapper{
    height: 300px;
    border-radius: 12px;
    position: relative;
}

.first-diagonal-btn{
    position: absolute;
width: 100%;
left: 0;
height: 100%;
// background-color: #1a1c39;
clip-path: polygon(0 0, 0% 100%, 100% 0);

border-radius: 12px;
transition: all .25s ease;
}

.first-diagonal-btn:hover{
// background-color: #1bf5ff;
}

.second-diagonal-btn{
    position: absolute;
width: 100%;
right: 0;
height: 100%;
background-color: #1a1c39;

clip-path: polygon(100% 100%, 0% 100%, 100% 0);
border-radius: 12px;
transition: all .25s ease;
}

.second-diagonal-btn:hover{
    // background-color: #1bf5ff;

}