.announcement-side-wrapper-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.game-update-card {
  height: 200px;
  border-radius: 12px;
  border: 1px solid #b8b8e0;
  backdrop-filter: blur(12.5px);
  overflow: hidden;
  img{
    border-radius: 12px;
    transition: all .25s;
  }
}

.game-update-card:hover{
  img{
    transform: scale(1.2);
  }
}

.updates-text-wrapper{
 position: absolute;
 bottom: 0;
}
