.announcement-side-wrapper-2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }