.container {
    padding: 20px 40px 32px;
    display: flex;
    flex-direction: column;
    color: white;
}

.succesfulMessageTitle {
    font-size: 24px;
    margin-bottom: 40px;
}

.succesfulBack {
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}