.cta-button-wrapper {
    position: relative;
    width: fit-content;
    margin-top: 32px;
    .blur-bg {
        position: absolute;
        top: 0;
        height: 48px;
        background-color: $accent-orange-red;
        display: flex;
        width: 154px;
        padding: 0 12px;
        filter: blur(70px);
        z-index: -1;
    }

    .cta-button {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 6px;
        border: none;
        outline: none;
        &:hover, &:focus, &:active, &:active {
            outline: none!important;
            box-shadow: none!important;
        }
        &.btn-primary-big{
            font-weight: 800;
            box-shadow: 3px 9px 30px #fc5036e3;
            // background-color: $accent-orange-red;
            background: linear-gradient(82.64deg, #e30613 6.71%, #fc4f36 99.38%);
            color: $white;
            cursor: pointer;
            @include medium() {
                padding: 16px 24px;
            }
        }
        // border: 1px solid ;

        // border-image-source: linear-gradient(
        //     253.22deg,
        //     #ffffff 2.16%,
        //     rgba(255, 255, 255, 0.23245) 10.48%,
        //     rgba(255, 255, 255, 0) 87.86%,
        //     #ffffff 96.8%
        // );

        &:hover {
            color: $white;
            text-decoration: none;
        }
        .button-arrow {
            margin-left: 10px;
        }

        &.btn-rounded{
            border-radius: 100px;
        }

        &.btn-secondary{
            background: $white;
            color: $accent-red;
            font-weight: 600;
            &:hover, &:focus, &:active {
                background: $white;
                color: $accent-red;
            }
        }
        &.btn-primary{
            background: $accent-red;
            &:hover, &:focus, &:active {
                background: $accent-orange-red;
            }
            &.btn-bordered{
                padding: 8px 20px;
                border: 2px solid $white;
            }
        }
    }
}
