.news-main-wrapper {
  gap: 80px;
  max-width: 2400px;
  overflow-x: hidden;
  background-image: url('../../assets/newsAssets/newsBackground.webp');
  background-size: cover;

  .news-header {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;

    color: #ffffff;
  }

  .news-card-wrapper:nth-child(2) {
    padding-top: 0 !important;
  }
  .news-card-wrapper:nth-child(3) {
    padding-top: 0 !important;
  }

  .news-card-wrapper:nth-child(even) {
    padding-left: 0 !important;
  }

  .news-card-wrapper:nth-child(odd) {
    padding-right: 0 !important;
  }

  .news-card {
    background: #181636;
    border-radius: 8px;
    min-height: 350px;

    .news-image {
      height: 172px;
      width: 172px;
      --mask: linear-gradient(-135deg, #0000 20px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      object-fit: cover;
    }

    .announcement-tag {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #080b2a;
      --mask: linear-gradient(-135deg, #0000 7px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      background: #dafa85;
      padding: 5px 16px;
      width: fit-content;
    }

    .new-release-tag {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #080b2a;
      --mask: linear-gradient(-135deg, #0000 7px, #000 0);
      -webkit-mask: var(--mask);
      mask: var(--mask);
      background: #fa858c;
      padding: 5px 16px;
      width: fit-content;
    }

    .update-title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      width: 65%;
    }

    .news-date {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.018em;
      color: #f7f7f7;
      white-space: pre;
    }

    .news-content {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      color: #ffffff;
    }

    .read-more {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #7cd8af;
    }
  }

  .newsletter-wrapper {
    position: relative;
    background-image: url("../../assets/newsAssets/newsLetterBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    z-index: 1;

    .newsletter-title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: #181636;
    }

    .newsletter-content {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-transform: capitalize;
      color: #181636;
      width: 75%;
    }

    .newsletter-span {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      text-transform: capitalize;
      color: #181636;
      width: 60%;
    }
  }

  .newsletter-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: linear-gradient(94.83deg, #6cd0e6 0%, #ce85fb 100%);
    border-radius: 8px;
    z-index: -1;
  }
}
