.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  border-bottom: 2px solid #525469;
  max-width: 2400px;


  .nav-anchor {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}
