.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 7;
  border-bottom: 2px solid #525469;
  max-width: 2400px;
  background: #080b2a;

  .nav-anchor {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }

  .nav-anchor:hover {
    text-decoration: underline !important;
  }

  .activenavlink {
    color: #7bd8b0;
    text-decoration: underline !important;
  }
}

.linearborder2 {
  position: relative;
  padding: 1px;
  background: linear-gradient(89.7deg, #7bd8b0 0.23%, #dcfb85 99.72%);
  border-radius: 10px;
  height: fit-content;
}

.connectwallet {
  border-radius: 10px;
  background: #080b2a;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuwrapper {
  border-radius: 10px;
  border: 1px solid #b8b8e0;
  background: #080b2a;
  padding: 10px;
  position: absolute;
  top: 22px;
  right: 57px;
  width: 145px;
}

.menuitem2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.menuitem2:hover {
  background: linear-gradient(
    268deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #11fed2;
}

.connected,
.connected:hover {
  border-radius: 10px;
  border: 1px solid #b8b8e0;
  background: #080b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.216px;
}

.account-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  // border: 2px solid #7371ff;
  // margin: auto;
  cursor: pointer;
}

.dropdown-toggle {
  background: transparent;
  border-radius: 10px;
  height: 32px;
  padding: 8px;
  height: 34px;
  width: 134px;
  border: 1px solid #b8b8e0 !important;
  display: flex;
  align-items: center;
  @media screen and (max-width: 991px) {
    width: auto;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.show {
  background: #26264f !important;
  box-shadow: 0px 12px 16px rgba(20, 20, 41, 0.4) !important;
  border-radius: 8px !important;
  padding: 0px;
  /* min-width: 100%; */
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #f7f7fc !important;
  padding: 10px 8px;
}

.dropdown-item:nth-child(1) {
  border-bottom: 1px solid #3b3c68 !important;
}

.dropdown-item:nth-child(2) {
  border-bottom: 1px solid #3b3c68 !important;
}

.dropdown-item:nth-child(3) {
  border-bottom: 1px solid #3b3c68 !important;
}

.dropdown-item:hover {
  background: #3b3883;
}

.dropdown-title {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #8e97cd;
}

#dropdown-basic-button {
  button {
    width: 100%;
  }
}

#dropdown-basic-button2 {
  background: #2a2859 !important;
  border-radius: 8px;
  border-color: #57b6ab !important;
  width: fit-content;
}

#dropdown-basic-button4 {
  background: #2a2859 !important;
  border-radius: 50%;
  border: none !important;
  /* border-color: #57b6ab !important; */
  width: 56px !important;
  height: 56px !important;
}

.change-chain-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #f7f7fc !important;
}

.bell-amount {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #de5634;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;

  span {
    color: #fff;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 1px;
  }
}

.notifications-wrapper {
  width: 430px;
  height: 360px;
  border-radius: 10px;
  border: 1px solid #b8b8e0;
  background: #080b2a;
  position: absolute;
  bottom: -360px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  // overflow-y: scroll;
  transition: all 0.25s;
  @media screen and (max-width: 440px) {
    width: 90%;
  }
}

.inner-notifications {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pending-notifications {
  border-radius: 10px;
  background: rgba(37, 39, 67, 0.45);
  box-shadow: 0px 4.300000190734863px 53px 0px rgba(0, 7, 72, 0.12);
  backdrop-filter: blur(13.380000114440918px);
  cursor: pointer;
}

.notifications-amount {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pending-text {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.open-notifications {
  visibility: visible;
  opacity: 1;
}

.inner-notifications::-webkit-scrollbar {
  display: none;
}

.green-dot {
  width: 11px;
  height: 6px;
  border-radius: 50%;
  background: #11fed2;
}

.notification-relative-time {
  color: #00fecf;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-notification-item {
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #565891;
  transition: all 0.25s;
}

.header-notification-item:hover {
  background: rgba(54, 194, 207, 0.06);
}

.header-notification {
  cursor: pointer;
}

.header-notification:hover {
  border-radius: 6px;
  background: linear-gradient(
    268deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  .notification-text {
    color: #11fed2 !important;
  }
}

.notification-text {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup-title {
  color: #f7f7fc;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.domain-popup-desc {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.domain-popup-input {
  border-radius: 15px;
  border: 1px solid #8e97cd;
  background: rgba(23, 25, 50, 0.4);
  height: 45px;
  padding-left: 40px;
  color: #ffffff;
}

.domain-popup-input::placeholder {
  opacity: 0.7;
}
.domain-popup-input:focus-visible {
  border: 1px solid #8e97cd !important;
}
.domain-popup-input:focus {
  border: 1px solid #8e97cd !important;
}
.domain-search-icon {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.domain-search-items {
  border-radius: 12px;
  background: #15172f;
  box-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.12);
}

.domain-search-item {
  border-bottom: 2px solid #8e97cd;
}

.domain-search-item:last-child {
  border-bottom: none !important;
}

.bnb-domain-icon-orange {
  width: 36px;
  height: 36px;
  background: linear-gradient(
    180deg,
    rgba(232, 128, 0, 0.25) -23.88%,
    rgba(232, 128, 0, 0) 99.99%
  );
  border-radius: 8px;
  border: 1px solid #e88000;

  span {
    color: #e88000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.bnb-domain-icon-green {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #3dbda7;
  background: linear-gradient(
    180deg,
    rgba(61, 189, 167, 0.25) -23.88%,
    rgba(61, 189, 167, 0) 99.99%
  );

  span {
    color: #3dbda7;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.domain-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-service {
  color: #8e97cd;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.domain-available-tag {
  border-radius: 8px;
  background: linear-gradient(92deg, #3dbda7 -6.32%, #067d71 157.01%);
  span {
    color: #f7f7fc;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
  }
}

.domain-price{
  color: #F7F7FC;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 80% */
}

.domain-register{
  color: #7DD9AF;
text-align: right;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}