.navbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 7;
  border-bottom: 2px solid #525469;
  max-width: 2400px;
  background: #080b2a;

  .nav-anchor {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }

  .nav-anchor:hover {
    text-decoration: underline !important;
  }

  .activenavlink {
    color: #7bd8b0;
    text-decoration: underline !important;
  }
}

.linearborder2 {
  position: relative;
  padding: 1px;
  background: linear-gradient(89.7deg, #7bd8b0 0.23%, #dcfb85 99.72%);
  border-radius: 10px;
  height: fit-content;
}

.connectwallet {
  border-radius: 10px;
  background: #080b2a;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuwrapper {
  border-radius: 10px;
  border: 1px solid #b8b8e0;
  background: #080b2a;
  padding: 10px;
  position: absolute;
  top: 17px;
  right: -30px;
}

.menuitem2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.menuitem2:hover {
  background: linear-gradient(
    268deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #11fed2;
}

.connected,
.connected:hover {
  border-radius: 10px;
  border: 1px solid #b8b8e0;
  background: #080b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.216px;
}

.account-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  // border: 2px solid #7371ff;
  margin: auto;
  cursor: pointer;
}


.bell-amount{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #DE5634;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;

  span{
    color: #FFF;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 1px;
  }
}

.notifications-wrapper{
  width: 430px;
  height: 360px;
  border-radius: 10px;
  border: 1px solid #B8B8E0;
  background: #080B2A;
  position: absolute;
  bottom: -360px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  // overflow-y: scroll;
  transition: all .25s;
@media screen and (max-width: 440px) {
  width: 90%;
}
}

.inner-notifications{
  overflow-y: scroll;
  overflow-x: hidden;
}

.pending-notifications{
  border-radius: 10px;
background: rgba(37, 39, 67, 0.45);
box-shadow: 0px 4.300000190734863px 53px 0px rgba(0, 7, 72, 0.12);
backdrop-filter: blur(13.380000114440918px);
cursor: pointer;
}

.notifications-amount{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pending-text{
  color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.open-notifications{
  visibility: visible;
  opacity: 1;
}



.inner-notifications::-webkit-scrollbar {
  display: none;
}

.green-dot{
  width: 11px;
  height: 6px;
  border-radius: 50%;
  background: #11FED2;
}

.notification-relative-time{
  color: #00FECF;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-notification-item{
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #565891;
transition: all .25s;
}

.header-notification-item:hover{
  background: rgba(54, 194, 207, 0.06);
}

.header-notification{
  cursor: pointer;
}

.header-notification:hover{
  border-radius: 6px;
background: linear-gradient(268deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.00) 100%);
.notification-text{
  color: #11FED2 !important;
}
}


.notification-text{
  color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}