.pills-container {
    border: 1px solid #d8d8d8;
    border-radius: 100px;
    // padding: 10px 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 21px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    @include medium {
        width: 316px;
    }

    .pill-item {
        font-size: 10px;
        line-height: 10px;
        font-weight: 400;
        padding: 10px 16px;
        color: $text-dark;
        margin-bottom: 0;
        cursor: pointer;
    }
    .active-color {
        color: $white;
        z-index: 2;
    }
    .active {
        transition: 0.3s;
        position: absolute;

        // left: 0;
        top: 0;
        bottom: 0;

        border-radius: 100px;
        background: linear-gradient(81.18deg, #e30713 16.81%, #fa4833 84.61%);
    }
}
