.my-stake {
  margin-top: 50px;
  @include medium {
    margin-top: 60px;
  }
  .common-title-text {
    h1 {
      color: #1d91d0 !important;
    }
    small {
      color: black;
    }
  }

  .claim-rewards-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #C4C4C4;
    pointer-events: none;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
  }

  .stakecard-wrapper{
    display: grid !important;
    background: white;
    width: 165px !important;
    margin: auto;
    gap: 5px;
    border-radius: 8px;
  }

.earnwrapper2 {
  justify-content: center;
  width: 90%;
  background: white;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

  .claim-rewards-btn-active {
    background: #FFFFFF;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FF0000;
    width: 100%;
}

  .inner-withdraw-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  .withdraw-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 180px;
    align-items: end;
    // border-left: 1px solid rgba(245, 245, 245, 0.3);
    // padding-left: 30px;

    @media screen and (max-width: 1393px) {
      border-left: none;
      padding-left: 0px;
      padding-bottom: 20px;
     }

    .upperSection {
      background: #ffffff;
      box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 16px 12px;
    }

    .inner-withdraw-wrapper {
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        border-bottom: 1px solid #f5f5f5;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
      }
    }
    // button {
    //   background: #c4c4c4;
    //   border-radius: 6px;
    //   color: white;
    //   border: none;
    //   outline: none;
    //   padding: 5px 10px;
    // }
  }

  .startStake {
    .startStake-text {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 6px;
      padding: 15px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      p {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        position: relative;
        bottom: 5px;
        left: 5px;
    
    
      }
    }

    p {
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .mints-container {

    @media screen and (max-width: 768px) {
      padding: 60px 60px;
      margin-top: 76px;
  }

  @media screen and (max-width: 550px) {
    padding: 10px 10px;
    margin-top: 76px;
}

    background: linear-gradient(88.5deg, #475fba 4.22%, #1d91d0 95.68%);
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    border-radius: 28px 0px 28px 28px;
    &::after {
      background: linear-gradient(88.5deg, #475fba 4.22%, #1d91d0 95.68%);
      box-shadow: none;
    }
    .cards-grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        align-items: center;

      @media screen and (max-width: 1393px) {
        justify-content: center;
        padding-top: 3rem;
        gap: 20px;
       }

       @media screen and (max-width: 768px) {
        // padding-top: 0;

       }
  

      .graphic-container {
        padding-bottom: 0;
        width: auto;
        max-width: 630px !important;
        // margin: 0 auto;
        margin-top: -70px;
        flex-direction: row;
        align-items: center;
        gap: 18px;
        display: flex !important;

        @media screen and (max-width: 1264px) {
          padding: 45px 0 0px 0;
          margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
          margin-left: 35px;
          max-width: 605px !important;
          // display: none !important;
          margin-top: -20px;
          // margin-right: 95px;
          // margin-bottom: 40px;
        }
      }

      .nft-caw-card {
        max-width: 180px;
        margin-bottom: 40px;

        @media screen and (max-width: 500px) {
          margin: auto !important;
      }
      }
    }

    .slider {
      // width: 660px;
      @media screen and (max-width: 768px) {
       width: 100%;
      }

      @media screen and (max-width: 550px) {
        padding: 0px;
    }
      .slick-slider {
        .slick-arrow {
          z-index: 3;
          bottom: 18px;
          top: unset;
          @include medium {
            top: 50%;
            bottom: unset;
          }

          display: flex !important;
          align-items: center;
          justify-content: center;
          background: linear-gradient(88.5deg, #475fba 4.22%, #1d91d0 95.68%);
          width: 28px;
          height: 28px;
          border-radius: 50%;

          &::before {
            content: "";
          }
          img {
            width: 6px;
            height: 12px;
          }
        }
        .slick-dots {
          li {
            button {
              &::before {
                background: white;
              }
            }
          }
        }
      }
      .nft-caw-card {
        margin-top: 16px;
        @include medium {
          margin-top: 0;
        }
      }
    }
  }
  .graphic-container {
    // max-width: 139px;

    button {
      background: linear-gradient(51.32deg, #e30613 -12.3%, #fa4a33 50.14%);
      border-radius: 6px;
      padding: 7px 22.5px;
      border: none;
      font-weight: 600;
      line-height: 18px;
      font-size: 12px;
      color: $white;
      margin: 19px auto 0 auto;
      border: 1px solid $accent-red;
      // display: none;

      @include medium {
        display: inline-block;
      }
      svg {
        width: 10px;
        height: 10px;
        margin-right: 8.25px;
        path {
          fill: $accent-red;
        }
      }
    }
    .open-button {
      display: flex;
      align-items: center;
      background: transparent;
      border: 1px solid $accent-red;
      color: $accent-red;
    }
  }
  .nft-caw-card {
    .elevated-container {
      background-color: unset;
      background: linear-gradient(88.5deg, #475fba 4.22%, #1d91d0 95.68%);
      p {
        color: $white;
        opacity: 0.6;
      }
      .footer {
        .nft-id {
          color: $white;
          opacity: 1;
        }
        .img {
          svg {
            circle {
              fill: $white;
            }
            path {
              fill: $accent-red-ff;
            }
          }
        }
      }
    }
  }
}

#staking {
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.earnwrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

  p {
    margin: 0;
  }

  #nftStaked {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-align: right;
color: #FF0000;
  }

  #ethPrice {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #1d91d0;
  }

  #fiatPrice {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: right;
    color: #52a8a4;
  }
}
.dark {
  .my-nfts {
    .mints-container {
      &::after {
        background: $black-26 !important;
      }
    }
  }
}
