.marketCards-wrapper {
  border-radius: 10px;
  background: var(--white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0px 5px 4px 0px rgba(103, 26, 228, 0.15);
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.marketCards-wrapper:hover {
  border: 2px solid #00fecf;

  .ethgraylogo {
    visibility: visible;
    top: 10px;
    left: 10px;
    z-index: 5;
    pointer-events: all;
  }
}

.buybtnmarket {
  border-radius: 10px;
  background: var(
    --pp-2-purple,
    linear-gradient(214deg, #b75cff 0%, #671ae4 100%)
  );
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.marketicon {
  width: 100%;
  // height: 402px;
}

.nftcard-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nftcard-usd {
  color: #7dd9af;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
