.bridge-mainhero-wrapper {
    min-height: 55vh !important;
    background-image: linear-gradient(
        180deg,
        #080b2a 0%,
        rgba(8, 11, 42, 0.6) 100%
      ),
      url("../../../../assets/bridgeAssets/bridgeHeroBg.webp") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    @media only screen and (max-width: 991px) {
      min-height: auto !important;
    }
  
    @media only screen and (max-width: 450px) {
      background-image: linear-gradient(
        180deg,
        #080b2a 0%,
        rgba(8, 11, 42, 0.6) 100%
      ),
      url("../../../../assets/bridgeAssets/bridgeHeroBgMobile.webp") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  }