.partners-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    max-width: 227px;
    margin: 0 10px;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
    @include medium {
        margin-bottom: 130px;
        margin-right: 10px;
        margin-left: 10px;
    }
    img {
        width: 56px;
        height: auto;
        object-fit: cover;
        @include medium {
            width: 127px;
            height: auto;
        }
    }
    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $title-dark;
        margin-top: 6px;
        margin-bottom: 0;
        text-align: center;
        @include medium {
            font-size: 22px;
            line-height: 28px;
            margin-top: 23px;
        }
    }
}
