@import "../src/screens/Caws/caws";
@import "../src/screens/Caws/colors";
@import "../src/screens/Caws/nftWhiteList";
@import "../src/screens/Caws/responsive";
@import "../src/screens/Caws/NftMinting/MyStakes/myStakes";
@import "../src//screens/Caws/NftMinting/MyNfts/myNfts";

@font-face {
  font-family: "Organetto";
  src: url("./fonts/Organetto.ttf");
}

body {
  background: #080b2a;
  font-family: "Poppins", sans-serif !important;

  .font-poppins {
    font-family: "Poppins", sans-serif !important;
  }

  .font-organetto {
    font-family: "Organetto" !important;
  }

  .linear-border {
    position: relative;
    padding: 2px;
    background: linear-gradient(89.7deg, #7bd8b0 0.23%, #dcfb85 99.72%);
    border-radius: 8px;
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }

  .linear-border::before {
    content: "";
  }

  .linear-border-disabled {
    position: relative;
    padding: 2px;
    background: #C4C4C4;
    border-radius: 8px;
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }

  .linear-border-disabled::before {
    content: "";
  }

  .outline-btn {
    clip-path: polygon(
      0 19px,
      19px 0,
      100% 0,
      100% calc(100% - 19px),
      calc(100% - 19px) 100%,
      0 100%
    );
    background: #080b2a;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    white-space: pre;
  }

  .outline-btn-disabled {
    clip-path: polygon(
      0 19px,
      19px 0,
      100% 0,
      100% calc(100% - 19px),
      calc(100% - 19px) 100%,
      0 100%
    );
    background: #C4C4C4;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #080B2A;
    white-space: pre;
    border: none;
    outline: none;
  }

  .simple-btn {
    background: transparent;
    color: #ffffff;
    outline: none;
    border: none;
    text-decoration: underline;
  }

  .filled-btn {
    clip-path: polygon(
      0 19px,
      19px 0,
      100% 0,
      100% calc(100% - 19px),
      calc(100% - 19px) 100%,
      0 100%
    );
    background: linear-gradient(89.7deg, #7bd8b0 0.23%, #dcfb85 99.72%);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #080b2a;
    border: none !important;
    white-space: pre;
  }

  .pink-filled-btn {
    clip-path: polygon(
      0 19px,
      19px 0,
      100% 0,
      100% calc(100% - 19px),
      calc(100% - 19px) 100%,
      0 100%
    );
    background: linear-gradient(89.7deg, #5690FF 0.23%, #8C56FF 99.72%);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #080b2a;
    border: none !important;
    white-space: pre;
  }

  .pink-linear-border {
    position: relative;
    padding: 2px;
    background: linear-gradient(89.7deg, #5690FF 0.23%, #8C56FF 99.72%);
    border-radius: 8px;
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }

  .pink-linear-border::before {
    content: "";
  }
}

.hidescroll {
  overflow: hidden;
  pointer-events: none;
}
.elevated-container {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
  padding: 24px 16px;
  @include medium {
    padding: 32px;
  }
}

.modal .modal-dialog .modal-content {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(111.64deg, #080b2a 0%, #8c56ff 100.5%);
}

.MuiBox-root {
  background: linear-gradient(111.64deg, #080b2a 0%, #8c56ff 100.5%);
}

.close-x {
  width: 50px;
  position: relative;
  bottom: 65px;
  cursor: pointer;
  height: fit-content;
}

.sub-navbar-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
