body{
    background-image: url('./assets/siteBackground.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .font-poppins{
        font-family: 'Poppins', sans-serif !important;
    }

}