.pill-buttons-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include medium {
        width: 425px;
    }
    .chain-pill-button {
        padding: 6.22px;
        padding-right: 20px;
        display: flex;
        background-color: $light-gray-f5;
        display: flex;
        align-items: center;
        border: none !important;
        outline: none !important;
        border-radius: 500px;
        img {
            border-radius: 50%;
        }
        p {
            color: $black;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            margin-left: 9.2px;
        }
    }
    .time-pill-button {
        background-color: transparent;
        border: 1px solid $light-gray-d8;
        border-radius: 100px;
        padding: 10px 12px;
        transition: 0.3s;

        p {
            color: $light-gray-a4;
            font-size: 10px;
            line-height: 10px;
            margin: 0;
        }
    }
    .active-chain {
        transition: 0.3s;
        background-color: $accent-blue;
        p {
            color: $white;
        }
    }
    .active-time {
        border: 1px solid transparent;
        background: linear-gradient(78.21deg, #e40914 14.2%, #f94732 83.86%);
        border: none !important;
        outline: none !important;
        p {
            color: $white;
        }
        box-shadow: 0px 9px 30px #fc5036e3;
    }
}
.time-buttons {
    // margin-top: 24px;
    width: 100%;

    @include medium {
        // margin-top: 30px;
        width: 304px;
    }
}
