.video-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;

  @media only screen and (max-width: 991px) {
  background-image: url("../../../assets/videoBackground.webp");

  }

  .video-main-title {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
    color: #f7f7fc;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  }


  .video-button-border{
    position: absolute;
  }
}

@media screen and (max-width: 786px) {
  .video-main-title{
    font-size: 24px !important;
    line-height: 32px !important;
    width: 100% !important;
  }
}