.token-utilities-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 40px;



@media screen and (max-width: 786px) {
    grid-template-columns: repeat(1,1fr);
}
}

.token-utility-title{
    color: #EEEDFF;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.token-utility-desc{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
 
}
