.new-treasure-hunt-wrapper{
    border-radius: 12px;
    background: #212246;
}

.new-treasure-hunt-title{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.08px;
}

.new-treasure-hunt-rewards{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.total-earnings-amount{
    color: #FA7EFB;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 62.5% */
}

.total-earnings-span{
    color: #AFA8BA;
    text-align: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
}

.treasure-type-date{
position: absolute;

}

.treasure-hunt-type{
    color: #FFF;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.treasure-hunt-bg-img{

}