.wodCampaign-ecosystem-wrapper {
    background: #14153f;
  }
  
  .wodCampaign-token-wrapper {
    background: linear-gradient(
      148deg,
      rgba(170, 20, 240, 0.1) 0%,
      rgba(170, 20, 240, 0.05) 100%
    );
    border-radius: 12px;
  }
  
  .wodCampaign-btn-inactive {
    border-radius: 10px;
    background: linear-gradient(90deg, #d4cde3 0.23%, #bcadc7 99.72%);
    border: none;
    color: #464555;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.25s;
  }
  
  .wodCampaign-btn-inactive:hover {
    background: linear-gradient(240deg, #7b2eb0 0%, #2647c9 100%);
    color: #eeedff;
  }
  
  .wodCampaign-btn-active {
    border-radius: 10px;
    background: linear-gradient(240deg, #7b2eb0 0%, #2647c9 100%);
    border: none;
    color: #eeedff;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }
  
  
  .wod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(211.03deg, #2c2657 10.78%, rgba(43, 47, 54, 0) 54.07%, #2c2657 108.18%);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  
  .wod-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .wod-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c6c6fb; /* Light purple text */
    font-size: 14px;
    position: relative;
    text-align: center;
    flex: 1;
  }
  
  .wod-step:not(:last-child)::after {
    content: "";
    width: 100px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 20px;
    right: -18%;
    @media only screen and (max-width: 600px) {
      width: 45px;
    }
  }

  .wod-step-active:not(:last-child)::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #7157f6;
    position: absolute;
    top: 20px;
    right: -18%;

    @media only screen and (max-width: 600px) {
      width: 45px;
    }
  }
  
  .wod-icon {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border: 2px solid #7157f6; /* Purple border */
  }

  .wod-icon-active {
    background: #7157f6;
  }
  
  .wod-button {
    margin-top: 20px;
    background: linear-gradient(90deg, #7157f6, #4e38d8);
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .wod-button:hover {
    box-shadow: 0px 0px 15px rgba(113, 87, 246, 0.8);
  }
  
  
  .wodCampaign-wallet-btn {
    border-radius: 10px;
    background: none !important;
    border: none;
    color: #eeedff;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    border: 2px solid #7b2eb0;
  }
  
  .wodCampaign-balance-wrapper {
    background: #2f0b5c;
    border-radius: 10px;
  }
  
  .user-wodCampaign-balance {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-family: "Montserrat";
    font-weight: 500;
  }
  
  .pool-wodCampaign-balance {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-family: "Montserrat";
    font-weight: 600;
  }
  
  .max-deposit-btn {
    font-size: 14px;
    font-family: "Montserrat";
    background: #272450;
    border-radius: 8px;
    border: 1px solid #aaa5eb;
    color: #fff;
    height: 37px;
    transition: all 0.25s;
  }
  
  .max-deposit-btn:hover {
    background: #aaa5eb;
  }
  
  .wodCampaign-guide-title {
    color: #f7f7fc;
    font-size: 20px;
    font-style: normal;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 30px;
  }
  
  .wodCampaign-divider {
    background: #ffffff;
    border-radius: 50px;
    height: 1px;
    opacity: 1 !important;
  }
  
  .wodCampaign-guide-pointer-active {
    min-width: 30px;
    min-height: 30px;
    background-color: #48b4bd !important;
    border-radius: 50%;
    background: url("https://cdn.worldofdypians.com/wod/greendot.svg");
  }
  .wodCampaign-guide-pointer-inactive {
    min-width: 30px;
    min-height: 30px;
    background: #565891 !important;
    border-radius: 50%;
  }
  
  .wodCampaign-guide-item-title {
    color: #f7f7fc;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Montserrat";
  }
  
  .wodCampaign-guide-desc {
    color: #c0cbf7;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: "Montserrat";
  }
  
  .new-wodCampaign-wrapper {
    border-radius: 12px;
    border: 0.5px solid #c0c9ff;
    background: #12133f;
    box-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.12);
    width: 480px;
  
    @media screen and (max-width: 520px) {
      width: 100%;
    }
  }
  
  
  .wodCampaign-input-wrapper {
    border-radius: 8px;
    background: #262859;
  }
  
  .wodCampaign-input-upper-wrapper {
    border-radius: 8px;
    background: #2d3065;
  }
  
  .wodCampaign-wod-title {
    color: #f7f7fc;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 118.182% */
    letter-spacing: -0.396px;
  }
  
  .wodCampaign-network-wrapper {
    border-left: 2px solid #12133f;
  }
  
  .wodCampaign-network-span {
    color: #c0c9ff;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.216px;
  }
  
  .wodCampaign-network-title {
    color: #f7f7fc;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    @media screen and (max-width: 520px) {
      font-size: 16px;
    }
  }
  
  .wodCampaign-max-btn {
    border-radius: 8px;
    border: 1px solid #7770e0;
    color: #fff;
    text-align: center;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: transparent;
  }
  
  .wodCampaign-amount-input {
    border: none;
    background: transparent;
    color: #fff;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 118.182% */
    letter-spacing: -0.396px;
    width: 50%;
  }
  
  .wodCampaign-amount-input:focus-visible {
    border: none !important;
    outline: none;
  }
  
  .wodCampaign-amount-input::placeholder {
    color: #c0c9ff;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.396px;
  }
  
  .wodCampaign-balance-txt {
    color: #c0c9ff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .wodCampaign-balance-span {
    color: #c0c9ff;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .wodCampaign-balance-amount {
    color: #00e5ff;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .wodCampaign-upper-txt {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  
  .wodCampaign-bottom-txt {
    color: #c0c9ff;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .wodCampaign-timer-txt {
    color: #c0c9ff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  
  .wodCampaign-timer {
    color: #f3bf09;
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  
  .wodCampaign-green-txt {
    color: #00e5ff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.252px;
  }
  
  .wodCampaign-white-txt {
    color: #fff;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  